---
import { words } from '../data/words';

const today = new Date();
const dayIndex = Math.floor(today.getTime() / (1000 * 60 * 60 * 24));
const word = words[dayIndex % words.length];
---

<section class="fortune">
  <div class="fortune-label">$ cat word-of-the-day.txt</div>
  <p class="word-term">
    {word.word}{word.partOfSpeech && <span class="word-pos">{word.partOfSpeech}</span>}
  </p>
  <p class="word-def">{word.definition}</p>
</section>
